body {
    font-family: 'Roboto', sans-serif;
}

#body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#logo {
    width: 30vw;
    height: auto;
    align-self: center;
}

#search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: calc(100% - 40px);
}

#nav-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

#nav-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: calc(100% - 40px);
    background-color: rgba(105, 105, 105, 0.185);
}

.nav-link {
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

#footer-left, #footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#footer-mid {
    margin: auto;
    padding: auto;
}

#search-box {
    width: 25vw;
    height: 1vh;
    padding: 14px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#button-wrapper button {
    margin: 7px;
    height: 5vh;
    padding: 0px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #efefef86;
}